.specList {
  background-color: #dadfe6;
  height: 100%;

  &-title {
    background: red;
  }

  &-header {
    a {
      color: #FFF;
      margin-left: 5px;
      &.asc:after {
        content: "▼";
        padding-left: 2px;
      }
      &.desc:after {
        content: "▲";
        padding-left: 2px;
      }
    }
  }

  .search { 
    position: relative; 
    input { 
      margin: 2px 10px;
      text-indent: 30px;
      width: calc(100% - 20px);
    }
    .oi-magnifying-glass {
      position: absolute;
      top: 12px;
      left: 17px;
      font-size: 15px;
    }
  }

  &-dir-list {
    padding-left: 0;
  }
  
  &-item-list {
    padding-left: 0;
  }

  &-item {
    list-style: none;
    font-size: 12px;
    color: #000000;
    background-color: #dadfe6;
    padding-left: 40px;
  }

  &-dir {
    list-style: none;
    font-size: 12px;
    background-color: #7d8f9f;
    color: #ffffff;
    span {
      margin-left: 20px;
    }
  }

}

