.specList {
  &-title {
    background: red;
  }

  &-header {
    a {
      color: #FFF;
      margin-left: 5px;
      &.asc:after {
        content: "▼";
        padding-left: 2px;
      }
      &.desc:after {
        content: "▲";
        padding-left: 2px;
      }
    }
  }
}